/*  media query - tablet ______________________________________________________________________________________________*/

@media (min-width: 576px) and (max-width: 991.98px) {

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    .contenedor {
        width: 80%;
    }

    .portada-index {
        .portada-texto {
            width: 80%;
            font-size: 1.7rem;
            margin: auto;
            .portada-titulo {
                font-size: 2.2rem;
            }
            #boton-index {
                font-size: 1.6rem;
            }
        }
    }

    .contenedor-eras {
        .card2 {
            width: 60%;
        }
    }

    .contenedor-index {
        height: 90vh;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        .iconos-index {
            img {
                width: 100px;
                height: auto;
            }
            p {
            font-size: 1.7rem;
            }
        }
    }

    .contenedor-grid {    
        display: grid;
        grid-template-areas:
            "imagen1 texto1"
            "imagen1 texto1"
            "texto2 imagen2"
            "imagen3 texto3"
            "imagen3 texto3";
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 576px) and (max-width: 800px) { /* ajuste específico a 800px */

    .contenedor-novedades {
        flex-direction: column;
            .texto-novedades {
                width: 100%;
            }
            .spotify {
                width: 100%;
                display: block;
            }
            .imagenes-novedades {
                width: 100%;
                margin: auto;
                img {
                    width: 100%;
                    height: auto;
                    padding: 0;
                    margin-top: 20px;
                }
                figcaption {
                    margin-left: 0;
                }
            }
    }

    .contenedor-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "imagen1"
            "texto1"
            "imagen2"
            "texto2"
            "imagen3"
            "texto3";
    }

    .contenedor-cards {
        .card {
            width: 37%;
        }
    }

    .contenedor-form {
        flex-direction: column;
        .formulario {
            width: 100%;
            padding: 0;
            margin-bottom: 50px;
        }
        .maps {
            width: 100%;
            padding: 0;
        }
    }

    .mailing {
        .form-control {
            width: 100%;
        }
    }
}