/*  page - novedades  */

.contenedor-novedades {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .texto-novedades {
        width: 50%;
    }
    .spotify {
        width: 50%;
        text-align: center;
        padding-top: 40px;
        display: flex;
        justify-content: flex-end;
    }
    .imagenes-novedades {
        width: 50%;
        img {
            width: 100%;
            height: auto;
            padding: 20px 0px 70px 70px;
        }
    }
}